.App {
  font-family: sans-serif;
  text-align: left;
}
#header {
  padding: 30px;
  background-color: lightseagreen;
}
#header h1 {
  display: inline;
}
#total-items {
  float: right;
}
#total-value {
  margin: 0 5px;
  display: inline;
}
h5 {
  padding-left: 40px;
}
img {
  width: 100px;
  margin: 5px 50px;
}
span {
  font-size: 0.8em;
  display: inline;
  border: solid 1px lightgray;
  padding: 10px;
  margin-right: 10px;
}
